<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>

<body>
    <form action="madlib" method="POST">
        Enter a person:<input type="text" name="person"> <br>
        Enter a color:<input type="text" name="color"> <br>
        Enter a noun:<input type="text" name="noun"> <br>
        Enter an adjective:<input type="text" name="adjective">
        <input type="submit">
    </form>
</body>

</html>