{% extends 'base.html' %}

{% block title %}The Game {% endblock %}

{% block content%}
<form action="madlib" method="POST">
    <label for="person">Enter a person:</label>
    <input type="text" name="person" id="person"> <br>
    <label for="pickcolor">Pick a color:</label>
    <div id="pickcolor">
        {% for i in colors %}
        <input type="radio" name="color" id="{{i}}" value="{{i}}">
        <label for="{{i}}">{{i}}</label> <br>
        {% endfor %}
    </div>
    <label for="noun">Enter a noun:</label>
    <input type="text" name="noun" id="noun"> <br>
    <label for="adjective">Pick an adjective:</label>
    <select name="adjective" id="adjective">
        {% for i in choices %}
        <option value='{{i}}'>{{i}}</option>
        {% endfor %}
    </select><br>

    <input type="submit">
</form>
{% endblock %}